RAZORPAY_KEY_ID=your_test_key_id
RAZORPAY_KEY_SECRET=your_test_key_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
RAZORPAY_FAMILY_MONTHLY_PLAN_ID=plan_family_monthly_test
RAZORPAY_FAMILY_YEARLY_PLAN_ID=plan_family_yearly_test
RAZORPAY_CARE_MONTHLY_PLAN_ID=plan_care_monthly_test
RAZORPAY_CARE_YEARLY_PLAN_ID=plan_care_yearly_test
APP_BASE_URL=http://localhost:8000
